<div id="experience">
  <p><h3>Act - Dic 2013 Web and Desktop Developer in Joca Ingenería y Construcciones</h3></p>

  <p>
    <ul>
      <li>Design <%= link_to 'http://www.joca.es' , 'http://www.joca.es' %> (php, jquery, css) </li>
      <li>Intratet for the company (Ruby on Rails, jquery, bootstrap, css)</li>
      <li>App for the company manage (.Net) </li>
      <li>Maintece of virtual machines in Esxi </li>
    </ul>
  </p>

  <p><h3>Dic 2013 - Sep 2010 Deputy manager of the computer department in Area10</h3></p>

  <p>
    <ul>
      <li>Design and maintenance of the company web site and applications</li>
      <li>Development using C++ of the company management application</li>
      <li>Creation of the control module to integrate  the management  application and the database (.NET)</li>
      <li>Maintenance of the web server (Apache), database (Firebird), and virtualization environments (Vmware)</li>
      <li>Improvements to  the web application to support  tablet devices</li>
      <li>Improvement and development of the database (Firebird SQL)</li>
      <li>Management of the company network</li>
      <li>Community management and launch of  campaigns  for several clients of the company  in Facebook  and Twitter</li>
      <li>Creation of reports under Report Manager for other departtments of the company</li>
      <li>Maintenance and moderation of the CiscoWebex account</li>
    </ul>
    
  </p>

  <p><h3>Sep 2010 - Ago 2007 Founder of the company Informática y redes Inteclu SL, Badajoz</h3></p>
  <p>
    <ul>
      <li>Advice and service to businesses and individuals</li>
      <li>Design and installation of business networks</li>
      <li>Repair Hardware and Software related problems</li>
      <li>Sales of computer equipment</li>
    </ul>
  </p>
</div>
