<div id="microapps">
  <h2>Words and Character Counter</h2>
  <p>
    <ul>
      <li>Words: <span id="words">0</span></li>
      <li>Characters: <span id="characters">0</span></li>
    </ul>
  </p>
  <p>
    Write your text here:
  </p>
  <textarea id="text" class="form-control" rows="6"></textarea>
</div>
