<table class="table">
  <tr>
    <th>Type</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>
      Computer Skills:
    </td>
    <td>
      <ul>
        <li>Knowledge of several program languages:  Java, C, C++, .NET, Php, Ruby  and   Frameworks like JQuery and Rails</li>
        <li>Design and maintenance of databases: MySQL, Firebird  SQL and Microsoft Access</li>
        <li>Deep  knowledge of the Microsoft Windows operating system, and advanced knowledge of  GNU / Linux (desktop and server installations) and OS X.</li>
        <li>Advanced knowledge of hardware.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      Personal Skills:
    </td>
    <td>
      <ul>
        <li>Capacity to organizacition and planification.</li>
        <li>Orientation to results</li>
      </ul> 
    </td>
  </tr>
  <tr>
    <td>
      Others: 
    </td>
    <td>
      <ul>
        <li>Great  learning capacity,  adaptation  and absolute predisposition to do courses and training to improve my skills.</li>
        <li>Great facility to work in teams</li>
        <li>Spanish driver's licenses A, B and own vehicle</li>
      </ul>
    </td>
  </tr>
</table>
  

  


  



