
<%= image_tag 'avatar.jpg', class: 'img-responsive img-center' %>
<ul>
  <li><b>Name</b>: Jesús María Luis Gil</li>
  <li><b>Date of Birdth</b>: 09/08/1982</li>
  <li><b>Location</b>: Actually living in Badajoz (Spain) and trying to move out to Sevilla (Spain)</li>
  <li><b>Email:</b> jesusmlg@gmail.com</li>
  <li><b>GitHub:</b> <%= link_to 'https://github.com/jesusmlg' %></li> 
  <li><b>Web:</b> <%= link_to  'www.jesusmlg.com' %></li>
  <li><b>Linked-IN</b>: <%= link_to 'http://es.linkedin.com/in/jesuslg' %></li>
</ul>

<h3 class="text-center">EDUCATION</h3>

<table class="table">
  <tr>
    <th>Year</th>
    <th>Content</th>
  </tr>
  <tr>
    <td>
      2005 - 2003
    </td>
    <td>
      Systems administration (IES Claudio Moyano, Zamora)
    </td>
  </tr>
  <tr>
    <td>
      2006 - 2005 
    </td>
    <td>
      Master in networks and security (Cibernos Institute,  Madrid)
    </td>
  </tr>
  <tr>
    <td>
      2006
    </td>
    <td>
      NS1 and NS2 CNAPS of CCSP  Certification - Cisco Systems (Cibernos Institute,  Madrid)

    </td>
  </tr>
  <tr>
    <td>
      2011
    </td>
    <td>
      Course on SEO/SEM positioning and campaigns. 
    </td>
  </tr>
  <tr>
    <td>
      2012
    </td>
    <td>
      Course on the  JQuery framework, CSS and the Moodle e-learning platform
    </td>
  </tr>
  
</table>
 


